<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/commodity.css">
    <title>{{ID}}</title>
</head>
<body>
    <nav>
        <div class="container">
         <h1>{{ID}}</h1>
        </div>
        <a href="/crop_statistics">Back</a>
    </nav>


   <div class="crop_sowingdata_bar">
        <h2 style="color:gray;margin-bottom:40px;">Distric Wise</h2>
        <div  style="width:800px !important;height:400px !important;" >
            <canvas id="myChart"></canvas>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            const ctx = document.getElementById('myChart');
            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ['solapur','Nanded','Buldhana','Amravati','sambhajinagar'],
                datasets: [{
                  label: 'crop sowing ratio',
                  data: {{jowardata}},
                  borderWidth: 1
                }]
              },
            });
          </script> 
   </div>
    
</body>
</html>