<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crop_Statistics</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/crop_statistics.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <a href="/home">
          <img
            class="navimg"
            src="/static/images/commoditylogo.webp"
            alt="logo"
            loading="lazy"
          />
        </a>
        <p>
          Crop Sowing Analysis / पीक पेरणीचे विश्लेषण & Crop Sowing Guide / पीक
          पेरणी मार्गदर्शक
        </p>
      </div>
      <a class="back" href="/home">Back</a>
    </nav>

    <label style="margin: 30px auto auto 50px; font-size: 20px" for=".commodity"
      >Crops / पिके</label
    >
    <div class="commodity">
      <div class="card commoditycard">
        <img
          class="card-img-top commoditylogo"
          src="/static/images/jowarlogo.webp"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Jowar</h5>
          <a href="/Jowar" class="btn btn-primary">Explore</a>
        </div>
      </div>

      <div class="card commoditycard">
        <img
          class="card-img-top commoditylogo"
          src="/static/images/bajralogo.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Bajara</h5>
          <a href="/Bajara" class="btn btn-primary">Explore</a>
        </div>
      </div>

      <div class="card commoditycard">
        <img
          class="card-img-top commoditylogo"
          src="/static/images/cottonlogo.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Cotton</h5>
          <a href="/Cotton" class="btn btn-primary">Explore</a>
        </div>
      </div>

      <div class="card commoditycard">
        <img
          class="card-img-top commoditylogo"
          src="/static/images/sugarcanelogo.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Sugarcane</h5>
          <a href="/Sugarcane" class="btn btn-primary">Explore</a>
        </div>
      </div>

      <div class="card commoditycard">
        <img
          class="card-img-top commoditylogo"
          src="/static/images/wheatlogo.avif"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Wheat</h5>
          <a href="/Wheat" class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>

    <!-- districts blocks -->
    <label style="margin: 30px auto auto 50px; font-size: 20px" for=".commodity"
      >Districts / जिल्हानिहाय</label
    >
    <div class="commodity">
      <div  class="card commoditycard">
        <img
          class="card-img-top commoditylogo"
          src="/static/images/Solapur_district.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Solapur</h5>
          <a href="/Solapur" class="btn btn-primary">Explore</a>
        </div>
      </div>

      <div  class="card commoditycard">
        <img
          class="card-img-top commoditylogo"
          src="/static/images/nanded_district.jpeg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Nanded</h5>
          <a href="/Nanded" class="btn btn-primary">Explore</a>
        </div>
      </div>

      <div  class="card commoditycard">
        <img
          class="card-img-top commoditylogo"
          src="/static/images/buldhana-district.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Buldhana</h5>
          <a href="/Buldhana" class="btn btn-primary">Explore</a>
        </div>
      </div>

      <div  class="card commoditycard">
        <img
          class="card-img-top commoditylogo"
          src="/static/images/amravati-district.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Amaravati</h5>
          <a href="/Amaravati" class="btn btn-primary">Explore</a>
        </div>
      </div>

      <div  class="card commoditycard">
        <img
          class="card-img-top commoditylogo"
          src="/static/images/aurangabad-district.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Sambhajinagar</h5>
          <a href="/Sambhajinagar" class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>

    <div class="state_statistics">
      <label class="state-statistics-title"
        >State Crop Statistics</label
      >
      <div class="crop_details">
        <div class="maharashtramap">
          <h4 class="title-crop-details">Maharashtra Crop Map</h4>
          <img
            id="mahamap"
            src="/static/images/maharashtra-agriculture-map.jpg"
            alt=""
          />
        </div>
        <div class="piegraphofcrop">
          <h4 class="title-crop-details">
            Maharashtra Crop Data
          </h4>
          <div class="piechart">
            <canvas id="myChartpie"></canvas>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            let crop_state_data_string = JSON.parse(
              '{{ crop_state_data|tojson|safe }}'
            );
            crop_state_data_string = crop_state_data_string.slice(1, -1);
            const crop_state_data = crop_state_data_string
              .split(",")
              .map(Number);

            const ctxpie = document.getElementById("myChartpie");
            new Chart(ctxpie, {
              type: "pie",
              data: {
                labels: ["Jowar", "Bajara", "cotton", "sugarcane", "wheat"],
                datasets: [
                  {
                    label: "Total farmer count",
                    data: crop_state_data,
                    borderWidth: 1,
                  },
                ],
              },
            });
          </script>
        </div>
      </div>
      <div class="cropbar">
        <h4 style="color: gray; margin-bottom: 30px">
          Crop Sowing Data In Maharashtra
        </h4>
        <p class="label-graph-axes">On X-axes : Commodity & Y-axes : Count of farmers</p>
        <div style="width: 800px !important; height: 400px !important">
          <canvas id="myChartbar"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          const ctxbar = document.getElementById("myChartbar");
          new Chart(ctxbar, {
            type: "bar",
            data: {
              labels: ["Jowar", "Bajara", "cotton", "sugarcane", "wheat"],
              datasets: [
                {
                  label: "Total farmer count",
                  data: crop_state_data,
                  borderWidth: 1,
                },
              ],
            },
          });
        </script>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
