<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Kisan Dhan</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/630e6cad6a.js" crossorigin="anonymous"></script>
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css” />

    <meta name="theme-color" content="#712cf9">

   
    <link href="/static/css/homepage.css" rel="stylesheet">

</head>


<body> 

    <div class="logo">
        <div class="logoimg"><img src="/static/images/farmerlogo.avif" alt=""></div>
        <div class="logotext">किसान धन</div>
    </div>

    <nav>
      <div class="nav-1"><a href="#">Kisan Dhan</a></div>
      <div class="nav-2"><a href="/home">Home</a></div>
      <div class="nav-2"><a href="">Goverment Schemes</a></div>
      <div class="nav-2"><a href="/submitCropData">Submit Crop Data</a></div>
      <div class="nav-2"><a href="/crop_statistics">Crop Sowing Guide</a></div>
      <div class="nav-2"><a href="">Help</a></div>
      <div class="nav-2"><a href="">contact</a></div>
      <div class="nav-3"><a href="/">Log out</a></div>
    </nav>


<main>

   <div id="mycarousel" class="mycarousel">
    <div class="next_prevbtn">
        <div  class="prev"><button id="prev"><i class="  fa-solid fa-2xl fa-chevron-left"></i></button></div>
        <div  class="next"><button id="next"><i class="fa-solid fa-2xl fa-chevron-right"></i></button></div>
    </div>
   </div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="middle">
        <a href="/predict"><h2>Predict</h2></a>
    </div>

    <!-- features -->

    <hr class="featurette-divider">

    <!-- first box -->
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Pradhan Mantri Kisan Maandhan Yojana<span class="text-body-secondary"></span></h2>
          <p class="lead">Government has launched the Pradhan Mantri Kisan Maan DhanYojana (PM-KMY) on 12.9.2019 with a view to provide social security to Small and Marginal Farmers in their old age when they have no means of livelihood and minimal or no savings to take care of their expenses.</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img img-fluid mx-auto" width="500" height="500"  src="/static/images/PM-kisan-pension-yojana.webp" alt="" srcset="">
        </div>
      </div>

    <hr class="featurette-divider">

    <!-- second box -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Pradhan Mantri Fasal Bima Yojana - Crop Insurance<span class="text-body-secondary"></span></h2>
        <p class="lead">प्रधानमंत्री फसल विमा योजना 18 फेब्रुवारी 2016 रोजी पंतप्रधान नरेंद्र मोदी यांच्या हस्ते सुरू करण्यात आली. नैसर्गिक आपत्ती, कीड आणि रोगांमुळे पिकांचे नुकसान झाल्यास शेतकऱ्यांना मदत करण्यासाठी त्यांना आर्थिक सहाय्य प्रदान करणे हा या योजनेचा उद्देश आहे.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img img-fluid mx-auto" width="500" height="500"  src="/static/images/pradhanmantrifasalbimayojana.webp" alt="" srcset="">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- third box -->
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">PM-Kisan Samman Nidhi<span class="text-body-secondary"></span></h2>
          <p class="lead">या योजनेअंतर्गत 2 हेक्टरपर्यंत शेती करणाऱ्या शेतकरी मालकांना या योजनेचा लाभ मिळतो. पीएम किसान सन्मान निधी अंतर्गत शेतकऱ्यांना वार्षिक हप्त्यांमध्ये निधी दिला जातो. एका वर्षात 6 हजार रुपये मिळतात. प्रत्येक हप्त्यात 2000 रुपये उपलब्ध आहेत.</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img img-fluid mx-auto" width="500" height="500"  src="/static/images/kisansanmmannidhi.webp" alt="" srcset="">
         
        </div>
      </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Pashudhan Bima Yojana<span class="text-body-secondary"></span></h2>
          <p class="lead">पशुधनाचा विमा म्हणजेच पशूंना होणारे आजार किंवा अपघात यामुळे होणाऱ्या मृत्यूसाठी केला जातो (नुकसान भरपाई मिळावी). या दृष्टीकोनातून पशुधन विमा काढणे आजची गरज बनली आहे.

          </p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img img-fluid mx-auto" width="500" height="500"  src="/static/images/Pashudhan Bima Yojana Benefits.jpg" alt="" srcset="">
        </div>
      </div>
  
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Pradhan Mantri Krishi Sinchan Yojana<span class="text-body-secondary"></span></h2>
          <p class="lead">प्रधानमंत्री कृषी सिंचाई योजना हे एक राष्ट्रीय ध्येय आहे. याचा उद्देश शेतकी उत्पादन वाढविणे व देशातील विविध स्रोतांचा वापर होतो आहे याची खात्री करणे असा आहे.येत्या ५ वर्षात याची अंदाजपत्रकीय तरतूद रु. ५0,000 करोड इतकी आहे.</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img img-fluid mx-auto" width="500" height="500"  src="/static/images/irrigation-pradhanmantri-sinchan-yojna-800x445.jpg" alt="" srcset="">
        </div>
      </div>
  
      <hr class="featurette-divider">

    <!-- END -->

  </div>


  <!-- FOOTER -->
  <footer style="background-color: rgba(14, 107, 5);;"  class=" text-center text-white">
    <div style="background-color:rgba(0, 0, 0, 0.2);" class="footerblock">
       <img src="/static/images/farmwheat.jpg" alt="" srcset="">
       <img src="/static/images/irrigation-pradhanmantri-sinchan-yojna-800x445.jpg" alt="" srcset="">
       <img src="/static/images/plantgrowing.jpg" alt="" srcset="">
       <img src="/static/images/farmerlogo.avif" alt="" srcset="">
       <img src="/static/images/plantgrowing.jpg" alt="" srcset="">
       <img src="/static/images/irrigation-pradhanmantri-sinchan-yojna-800x445.jpg" alt="" srcset="">
    </div>
    <!-- Footer -->
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>

      <section class="mb-4">
        <p>
            कृषि प्रधान भारत 
        </p>
      </section>
      
    </div>
   
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © Copyright:
      <a class="text-white" href="">@Kisan Dhan</a>
    </div>
    
  </footer>
<script src="/static/script/homepagejs.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</main>

</body>
</html>
