body{
   margin:0px;
   padding: 0px;
}
nav{
    background-color:rgba(216, 166, 239, 0.2);
    display:flex;
}
nav .container{
    display: flex;
}

nav .back{
    cursor: pointer;
    display: flex;
    width:100px;
    height:50px;
    margin:30px 50px auto auto;
    text-decoration: none;
    color:rgb(0, 161, 19);
    font-family: cursive;
    font-weight:500;
    font-size:20px;
    background-color:rgb(197, 197, 197);
    align-items: center;
    justify-content: center;
}

nav a:hover{
    background-color:rgb(238, 239, 240);
}


.navimg{
    height:100px;
    margin-top:20px;
    margin-left:30px;
    width:100px;
}

nav p{
    display: inline-block;
    margin-left:20px;
    margin-top:50px;
    color:rgb(1, 147, 11);
    font-family: sans-serif;
    font-weight: 600;
    font-size:25px;
}
.commodity{
    margin:50px auto auto 50px;
    width:100%;
    height:max-content;
    display: flex;
    column-gap:50px;
}

.commodity .commoditycard{
    height:300px;
    width:15rem;
}

.commodity .commoditylogo{
    height:200px;
}

.state_statistics{
    margin-top:150px;
    width:100%;
}

.crop_details{
    display: flex;
    justify-content: space-around;
    margin-top:30px;
}

.maharashtramap{
    margin-left:50px;
    width:30%;
    height:400px;
}

.maharashtramap img{
    cursor: pointer;
    height:300px;
}

.maharashtramap img:hover{
    transform:scale(1.5);
    translate: 100px 20px;
}
.cropbar{
    width:80%;
    margin:100px auto auto auto;
    height:400px;
    margin-bottom:200px;
}
