body{
    padding:0px;
    margin:0px;
    background-color: azure;
}
.nav{
    display: flex;
    align-items: center;
    padding:0px;
    margin: 0px;
    width:100%;
    height:70px;
    background-color:rgba(213, 190, 233, 0.5);
}
.nav a{
    margin-left:90px;
    color:rgb(28, 226, 35);
    font-size:25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    text-decoration: none;
}
.nav a:hover{
    color:gray;
}

.date{
    width:90%;
    margin:30px auto auto auto;
    font-size:30px;
    font-weight:600;
    color:blueviolet;
}

.commoditycontainer{
    display: flex;
    margin:50px auto auto auto;
    width:90%;
    height:50vh;
    column-gap:50px;
    /* border:1px solid black; */
}

.commodityimg{
    /* border:1px solid black; */
    width:25%;
    height:100%;
}
.commodityimg img{
    width:100%;
    height:100%;
    border-radius:10px;
    /* padding:20px; */
}
.currcommoditystatistics{
    /* border:1px solid black; */
    width:35%;
    height:100%;
    /* margin-left:50px; */
    background-color: rgba(215, 209, 219, 0.2);
}
.currAvgprice{
    margin-left:50px;
    font-size:20px;
    font-family: sans-serif;
    font-weight: 600;
    color: blueviolet;
    /* background-color:rgba(138, 43, 226,0.2); */
    width:100%;
    height:20%;
    margin-bottom:40px;
}
.minprice{
    margin-left:50px;
    font-size:15px;
    font-family: sans-serif;
    font-weight: 600;
    color: blueviolet;
    /* background-color:rgba(226, 101, 43, 0.2); */
    width:100%;
    height:20%;
    margin-bottom:40px;
}
.maxprice{
    margin-left:50px;
    font-size:15px;
    font-family: sans-serif;
    font-weight: 600;
    color: blueviolet;
    /* background-color:rgba(43, 226, 52, 0.2); */
    width:100%;
    height:20%;
}
.maxminyear{
    width:30%;
    height:100%;
    /* border: 1px solid black; */
}
.type{
    padding:0px;
    margin:0px;
    margin-left:30px;
}

.max{
    margin-top:0px;
    font-family: sans-serif;
    font-weight: 600;
    font-size:15px;
    width:80%;
    margin-left:30px;
    background-color:rgba(182, 220, 144, 0.5);
}
.max p{
    padding:10px;
}
.min{
    font-family: sans-serif;
    font-weight: 600;
    font-size:15px;
    width:80%;
    margin-left:30px;
    background-color:rgba(227, 165, 165, 0.5); 
}
.min p{
    padding:10px;
}
.condition{
    margin-left:30px;
    width:80%;
    color:gray;
}
.prevyeargraph{
    margin:100px auto auto auto;
    width:80%;
    height:max-content;
}

.nextyeargraph{
    margin:100px auto 100px auto;
    width:80%;
    height:max-content;
}
.footer{
    /* border:1px solid black; */
    width:100%;
    height:100px;
}